/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive; */

/* Global Styling */

* {
    box-sizing: border-box;
}

/* General Styling */

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary: #99E2D0;
    --gradient: linear-gradient(30deg, var(--secondary-color), var(--primary-color));
    --bg-color: #f6f6f6;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Shrikhand', cursive;
}

body {
    font-family: var(--ff-primary);
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 1575px;
}

/* Section Styling */

/* loading page */

.wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    animation: hideanimation 0.5s ease-in 3s; 
    animation-fill-mode: forwards;
    z-index: 1;
    padding-top: 200px;
}

@keyframes fadeout {
    0% {opacity: 0.95;}
    100% {opacity: 0;}
} 

@keyframes hideanimation {
    to {visibility: hidden; 
       /* width: 0;
        height: 0; */
    }
}


.wrapper .bouncer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100px;
    width: 100px;
    padding-top: 50%;
    margin: auto;
}

.bouncer div {
    width: 1rem;
    height: 1rem;
    background: var(--primary-color);
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}

.bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
}

.bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
}

.bouncer div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;
}

@keyframes bouncer {
    from {transform: translateY(0)}
    to {transform: translateY(-6.25rem)}
}

/* header */ 

.logo {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 0.25rem;
}

.logo img {
    width: 10.5rem;
}

.logo-desktop {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 0.25rem;
}




@media screen and (min-width:526px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width:526px) {
    .logo-desktop {
        display: none;
    }
}

/* Location */ 

.map {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 0.1rem solid rgba(187, 184, 184, 0.8);
    height: 2.75rem;
}

.map p {
    font-family: var(--ff-primary);
    font-weight: 700;
    color: #5c5c5c;
}

/* Desktop */

@media screen and (min-width:770px) {
   /* .map {
        width: 95%;
        margin: 0 auto;
    } */
}


/* call to action */ 

.action {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17rem;
}

.action h2 {
    margin: 1.5rem 0;
    font-family: var(--ff-primary);
    margin-top: 2.25rem;
}

.action p {
    width: 32ch;
    color: #9b9b9b;
    text-align: center;
    margin-bottom: 0.75rem;
}

.action button {
    background-image: var(--gradient);
    
    box-shadow: 2px 4px 2px rgba(218, 213, 213, 0.8);
    cursor: pointer;
    color: white;
    height: 2.75rem;
    width: 13rem;
    border: 0;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 1rem 0;
    transition: opacity 0.4s, box-shadow 0.4s;
}

.action button:hover {
    opacity: 0.8;
    box-shadow: 3px 5px 3px rgba(195, 195, 195, 0.8);
    transform: scale(1.1);
}

/* Desktop view */ 

@media screen and (min-width:770px) {
   /* .action {
        width: 95%;
        margin: 0 auto;
    } */
}

/* info section */

.info {
    width: 90%;
    margin: 0 auto;
    position: relative; 
    height: 24rem;
}

.info h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 18rem;
}

.card {
    display: flex;
    align-items: center;
    background: var(--bg-color);
    border: 1px solid rgba(206, 203, 203, 0.8);
    border-radius: 30px;
    box-shadow: 2px 6px 2px rgba(235, 230, 230, 0.8);
    margin-bottom: 1.5rem;
    height: 4.5rem;
    border: 0;
}

.card:hover i{
    color: var(--primary-color);
}

.card:hover {
    background-color: rgba(147, 86, 220, 0.2);
}

.card button {
    border-radius: 50%;
    color: white;
    background: var(--primary-color);
    border: 0;
    position: absolute; 
    left: -2%;
}

.card i {
    margin-left: 8%;
    margin-right: 5%;
    color: #9f9f9f;
}

.card p {
    font-weight: 700;
    margin-left: 5%;
}

.card .position {
    margin-left: 7%;
}

.card .position-2 {
    margin-left: 5.5%;
}

/* Tablet / Desktop view */

@media screen and (min-width:420px) {
    .info {
        width: 50%;
        margin: 0 auto;
    }

    .info h2 {
        text-align: center;
    }
}

@media screen and (min-width:770px) {
    .info {
        width: 35%;
        margin: 0 auto;
    }
}


/* Menu Links */ 

.menu-link {
    background: var(--bg-color);
    min-height: 72rem;
    position: relative;
}

.menu-link h2 {
    width: 90%;
    margin: 0 auto;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    
}

.grid-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
}

.grid-container a {
    text-decoration: none;
}

.menu-card {
    height: 14.5rem;
    width: 100%;
    background: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem lightgrey;
}

.fit {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.btn {
    width: 4.75rem;
    height: 1.75rem;
    background-color: var(--tertiary);
    border: 0;
    color: green;
    font-weight: bold;
    position: absolute;
    left: 70%;
    top: 10%;
}

.btn-2 {
    width: 4.75rem;
    height: 1.75rem;
    background-color: var(--tertiary);
    border: 0;
    color: green;
    font-weight: bold;
    position: absolute;
    left: 70%;
    top: 31%;
}


.grid-container .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}


.menu-card .flex p {
    width: 16ch;
    color: black;
    font-weight: 700;
}

.menu-card .flex .char-1 {
    width: 18ch;
    color: black;
    font-weight: 700;
}


.menu-card .flex .char-2 {
    width: 9ch;
    color: black;
    font-weight: 700;
}


.menu-card .flex .char-3 {
    width: 11ch;
    color: black;
    font-weight: 700;
}


.menu-card .flex span {
    color: grey;
    font-weight: 400;
}

.menu-card .flex i {
    color: white;
    outline: rgba(197, 190, 190, 0.8);
    cursor: pointer;
    font-size: 1.25rem;
    text-shadow: 0 0 3px #000;
    transition: color 0.5s ease-in-out;
}



.menu-card .flex i:hover {
    color: var(--primary-color);
}

/* Desktop / Tablet view */

@media screen and (min-width:515px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
    }

    .menu-link {
        min-height: 46rem;
    }

    .btn {
        left: 33%;
        top: 16%;
    }

    .btn-2 {
        left: 78%;
        top: 16%;
    }
    
}

@media screen and (min-width:770px) {
    .menu-link {
        min-height: 55rem;
    }

    .menu-link h2 {
        width: 85%;
        margin: 0 auto;
    }

    .grid-container {
        column-gap: 4.5rem; 
        width: 85%;
        margin: 0 auto;
        row-gap: 4.5rem;
    }

    .menu-card {
        height: 20rem;
    }
}

@media screen and (min-width:1070px) {
    .btn {
        width: 5.5rem;
        height: 2rem;
        top: 14%;
        left: 37%;
    }

    .btn-2 {
        width: 5.5rem;
        height: 2rem;
        top: 14%;
        left: 81%;
    }
}

/* Footer */ 

footer {
    background: rgb(15, 15, 15); 
    height: 12rem;
}

footer h4 {
    color:white;
    font-family: var(--ff-accent);
    font-size: 1rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.65rem;
    width: 90%;
    margin: 0 auto;
}

.footer-nav ul {
    text-decoration: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

.footer-nav ul li {
    list-style: none;
    color: white;
    font-size: 0.9rem;
   /* margin: 2% 0; */
}

.footer-nav ul .display {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0%;
}

.footer-nav ul .spacing {
    margin-bottom: 3%;
}

.footer-nav ul .align i {
    padding-right: 0.4rem;
}

.footer-nav ul a {
    text-decoration: none;
    color: white;
}

/* Desktop */ 

@media screen and (min-width:768px) {
    .footer-nav ul .spacing {
        margin-bottom: 1%;
    }
}
